# Игнорировать зависимости
node_modules/
.pnpm-store/

# Игнорировать файлы окружения
.env
.env.local
.env.development
.env.production

# Игнорировать логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*
.pnp.js

# Игнорировать папки сборки
dist/
build/
out/
.next/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать настройки IDE
.vscode/
.idea/

# Игнорировать тестовые данные
coverage/
.nyc_output/

# Игнорировать ESLint и Prettier кэш
.eslintcache
.prettiercache